<div id="ping-button" class='pingButtonDiv height1'>
    <div class='pingButtonDiv height2'>
        <div class='pingButtonDiv height3'>
            <h1>I AM ALIVE</h1>
        </div>
    </div>
</div>
