<%= render 'button' %>

<div id='selectors'>
  <span id='worldButton' class='selector s1'>
    <h2>World</h2>
  </span>
  <span id='friendsButton' class='selector s2'>
    <h2>Friends</h2>
  </span>
  <span id='search'>
    <p>Search</p>
  </span>
</div>

<!-- Pong template -->
<div style="display:none;">
    <li id="pong-template" class="user">
			<div class='userPic' style="display:none"></div>
			<div class='info'>
				<p class="name"></p>
				<p class="city"></p>
				<p class="timestamp"></p>
      </div>
    </li>
</div>

<div id="pongs-list">
    <ul class="list" id="users">
    </ul>
</div>

<%= javascript_tag do %>
  $(document).ready(function() {
    var options = { item: 'pong-template', valueNames: ['name', 'city'] };

    <% if @pongs.empty? %>
      window.pongs = new List('pongs-list', options );
    <% else %>
      window.pongs = new List('pongs-list', options, <%= @pongs.to_json.html_safe %> );
    <% end  %>

    window.poll_pongs();
  });
<% end %>
